<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>       
    </head>
    <body>
        {{!-- {{> header}} --}}
        <h3>We'll be right back</h3>
        <p>The site is currently updated</p>
        {{!-- {{> header}}
        <p>{{welcomeMessage}}</p>
        <p>{{screamIt wText}}</p>
        
        {{> footer}} --}}
    </body>
</html>